:root {
	--primary-color: #272727;
	--second-color:#494b48;
	--video-color: #1aa89c;
	--text-color: #f8f8f8;
	--boder-color:#1aa89c;
	--lawd-color: #43025e;
	--argolo-color: #000;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
}

strong {
	font-weight: bold;
}

body {
	background-color: var(--primary-color);
	color: var(--text-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--video-color);
	padding: 1.5em 5em;
}

header a {
	font-size: 1.25em;
	font-weight: 600;
	padding: .75em;
	color: var(--text-color);
}

header a:hover {
	color: var(--argolo-color);
	transition: .5s;
}

header h1 a {
	font-family: "Titillium Web", sans-serif;
	font-style: italic;
	font-size: 2em;
	font-weight: 700;
}

h2 {
	font-weight: 500;
}

img {
	width:6em;
}

section {
	margin-bottom: 6em;
}

section h1 {
	font-family: "Titillium Web", sans-serif;
	font-style: italic;
	font-size: 3em;
	font-weight: 700;
	text-align: center;
	margin: 4em 4.5em;
	padding: 0;
}

.down {
	display: flex;
	margin: auto;
	padding: 1.5em;
	border: 1px solid var(--boder-color);
	border-radius: 999px;
}

.down:hover {
	scale:1.25;
	transition: .5s;
}

#conceito div {
	margin: 0 4.5em;
	display: flex;
	justify-content: space-between;
}

#conceito div iframe {
	border-radius: 1.25em;
}

#conceito div .paragrafo {
	display: flex;
	flex-direction: column;
	gap: .75em;
	background-color: var(--second-color);
	padding: 2em;
	width: 31.25em;
	border: 1px solid var(--boder-color);
	border-radius: 1.25em;
	align-items: center;
	text-align: justify;
	text-indent: 2em;
	font-size: larger;
}

#conceito div .paragrafo:hover {
	border: 1px solid var(--text-color);
}

#bases ul div {
	margin: 2em 4.5em;
	display: flex;
	justify-content: space-evenly;	
}

#bases ul div li {
	background-color: var(--second-color);
	padding: .75em;
	width: 18.75em;
	border: 1px solid var(--boder-color);
	border-radius: 1.25em;

	display: flex;
	align-items: center;
	text-align: center;
	gap: 1em;
}

#bases ul div li:hover {
	scale: 1.25;
	transition: .5s;
	border: 1px solid var(--text-color);
}

#bases ul div li:hover img {
	filter: invert(80%);
}

#agentes ul {
	display: flex;
	flex-direction: column;
	margin: 0 4.5em;
	gap: 4.5em;
}

#agentes ul li {
	background-color: var(--second-color);
	padding: 2em;
	border: 1px solid var(--boder-color); 
	border-radius: 1.25em;
	display: flex;
	gap: 2em;
}

#agentes ul li .imagem img {
	height: 9.5em;
} 

#agentes ul li:hover .imagem img {
	scale: 1.25;
	transition: .5s
} 

#agentes ul li:hover {
	border: 1px solid var(--text-color);
	transition: .5s;
} 

#agentes ul li .conteudo {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
} 

#agentes ul li .conteudo p {
	text-align: justify;
	font-size: 1.125em;;
}

#eventos ul {
	display: flex;
	flex-direction: column;
	margin: 0 4.5em;
	gap: 4.5em;
}

#eventos ul li {
	background-color: var(--second-color);
	padding: 2em;
	border: 1px solid var(--boder-color); 
	border-radius: 1.25em;
	display: flex;
	gap: 2em;
}

#eventos ul li:hover {
	border: 1px solid var(--text-color);
	transition: .5s;
} 

#eventos ul li:hover .imagem img {
	scale: 1.25;
	transition: .5s;
	filter: invert(80%);
} 

#eventos ul li .conteudo {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
} 

#eventos ul li .conteudo p {
	text-align: justify;
	font-size: 1.125em;;
}

#artefatos ul {
	display: flex;
	margin: 0 4.5em;
	gap: 4.5em;
}

#artefatos ul li {
	background-color: var(--second-color);
	padding: 2em;
	border: 1px solid var(--boder-color); 
	border-radius: 1.25em;
	display: flex;
	gap: 2em;
	justify-content: space-between;
	align-items: center;
}

#artefatos ul li .imagem{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: .75em;
	text-align: center;
} 

#artefatos ul li .imagem img {
	height: 9.75em;
	width: auto;
} 

#artefatos ul li:hover {
	border: 1px solid var(--text-color);
	transition: .5s;
} 

#artefatos ul li:hover .imagem img {
	scale: 1.125;
	transition: .5s;
	filter: invert(80%);
} 

#artefatos ul li .conteudo {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
} 

#artefatos ul li .conteudo p {
	text-align: justify;
	text-indent: 1.5em;
} 

#valores ul {
	margin: 2em 4.5em;
	gap: 4em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#valores .card {
	background-color: var(--second-color);
	display: flex;
	flex-direction: column;
	gap: .75em;
	width: 18.75em;
	height: 10em;
	position: relative;
	border: 1px solid var(--boder-color);
	border-radius: 1.25em;
}

#valores .card:hover {
	border: 1px solid var(--text-color);
}

#valores ul li .imagem {
	margin-top: .375em;
	position: relative;
	text-align: center;
}

.card .conteudo {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	overflow: hidden;
	transition: .5s;
}

.card .conteudo p {
	padding: .75em;
	text-align: justify;
	text-indent: 1.5em;
	font-size: 1em;
}

.card:hover .conteudo {
	top: -6em;
	overflow: visible;
	transition: .5s;
	scale: 0.9;
}

.card:hover .imagem {
	top: -6em;
	scale: 0.75;
	filter: invert(80%);
	transition: .5s;
}

#copyright {
	color: var(--text-color);
	background-color: var(--video-color);
	padding: 2em 5em;
	font-weight: 600;
	font-size: 1.125em;
}

#copyright p {
	text-align: center;
}

#copyright p a {
	color: var(--argolo-color);
	font-weight: bold;
}

#copyright p a:hover {
	text-decoration: underline;
}

#copyright .lawd {
	color: var(--lawd-color);
}